* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font: var(--text-base);
}

hr {
  border: 0;
  border-top: 1px solid var(--border);
  margin: var(--space-small) 0;
}

ul {
  padding: 0 var(--space-base);
  margin: 0;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 1120 / 1120;
}

/* Navbar */
.nav {
  width: 100%;
  border-bottom: 1px solid var(--border);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav .container {
  background-color: var(--bg-color);
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-small) var(--space-base);
}

.stack-row {
    display: flex;
    gap: var(--space-base);
}

section {
  max-width: 1200px;
  margin: 0 auto;
  padding: var(--space-largest) var(--space-base) 0;
}

@media (max-width: 480px) {
  .two-column-section {
    column-count: 1;
  }
}

.project-grid {
  column-count: 4;
  column-gap: var(--space-large);
  list-style: none;
  padding: 0;
  margin: 0;
}

@media (max-width: 1200px) {
  .project-grid {
    column-count: 3;
  }
}

@media (max-width: 768px) {
  .project-grid {
    column-count: 2;
  }
}

@media (max-width: 480px) {
  .project-grid {
    column-count: 1;
  }
}

.project-item {
  display: flex;
  flex-direction: column;
  break-inside: avoid;
  gap: var(--space-smallest);
  margin-bottom: var(--space-large);
}

/* Footer */
.footer {
  width: 100%;
  border-top: 1px solid var(--border);
  margin-top: var(--space-largest);
}

.footer .container {
  background-color: var(--bg-color);
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-small) var(--space-base);
}

