* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

h1, h2, h3 {
  font: var(--text-base);
}

hr {
  border: 0;
  border-top: 1px solid var(--border);
  margin: var(--space-small) 0;
}

ul {
  padding: 0 var(--space-base);
  margin: 0;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 1 / 1; /* Aspect ratio simplified to 1:1 */
}

p {
  margin: 0 0 var(--space-base);
}

/* Navbar */
.nav {
  width: 100%;
  border-bottom: 1px solid var(--border);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav .container {
  background-color: var(--bg-color);
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-small) var(--space-base);
}

.nav-links {
  display: flex;
  gap: var(--space-small);
}

@media (max-width: 480px) {
  .nav .container {
    align-items: flex-start;
    position: relative;
  }

  .nav-links {
    flex-direction: column;
  }
}

/* Layout Styles */
.stack-row {
  display: flex;
  gap: var(--space-base);
}

section {
  flex: 1;
  max-width: 1200px;
  margin: 0 auto;
  padding: var(--space-largest) var(--space-base) 0;
}

.halved {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 600px;
  width: 50%;
  margin-bottom: var(--space-largest);
}

@media (max-width: 768px) {
  .halved {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .two-column-section {
    column-count: 1;
  }
}

/* Grid Styles */
.project-grid {
  column-count: 4;
  column-gap: var(--space-large);
  list-style: none;
  padding: 0;
  margin: 0;
}

@media (max-width: 1200px) {
  .project-grid {
    column-count: 3;
  }
}

@media (max-width: 768px) {
  .project-grid {
    column-count: 2;
  }
}

@media (max-width: 480px) {
  .project-grid {
    column-count: 1;
  }
}

.project-item {
  display: flex;
  flex-direction: column;
  break-inside: avoid;
  gap: var(--space-smallest);
  margin-bottom: var(--space-large);
}

.project-section {
  column-count: 2;
  column-gap: var(--space-large);
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Footer */
.footer {
  width: 100%;
  border-top: 1px solid var(--border);
  margin-top: var(--space-largest);
}

.footer .container {
  background-color: var(--bg-color);
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-small) var(--space-base);
}
