:root {
    --bg-color: white;
    --text-color: black;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
    --bg-color: black;
    --text-color: white;
    transition: background-color 0.3s, color 0.3s;
}
