
/* skills and tools section */
.skills {
    display: flex;
    gap: var(--space-large)
    width: 100%
    margin: 0;
    padding: 0;
}

@media (max-width: 768px) {
  .skills {
    flex-direction: column;
  }
}

/* project overview */
.home__project {
  column-count: 4;
  column-gap: var(--space-large);
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

@media (max-width: 1200px) {
  .home__project {
    column-count: 3;
  }
}

@media (max-width: 768px) {
  .home__project {
    column-count: 2;
  }
}

@media (max-width: 500px) {
  .home__project {
    column-count: 1;
  }
}

.home__project__item {
  display: flex;
  flex-direction: column;
  break-inside: avoid;
  gap: var(--space-smallest);
  margin-bottom: var(--space-large);
  width: 100%;
}
