/* project page */

.project {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 650px;
  width: 100%;
  margin-bottom: var(--space-largest);
}

.project__list {
  column-count: 1;
  column-gap: var(--space-large);
  padding: 0;
  margin: 0;
  width: 100%;
}

@media (max-width: 500px) {
  .project {
    width: 100%;
  }
}
