{% extends "base.html" %} {% block content %}
<section>
  <div>
    <span><a href="/">[Return Home]</a></span>
  </div>
</section>
<section>
  <div class="error-container">
    <h2>There's been a glitch in the matrix</h2>
    <hr />
    <p>
      Sorry, normally I'd like to provide some context here. Try again or
      <a
        href="mailto:hello@andrewjamesmoore.com?subject=TODO:%20add%20better%20error%20handling"
      >
        add it to my TODO list.</a
      >
    </p>
  </div>
</section>
{% endblock %}
