{% extends "base.html" %} {% block content %}
<section>
  <h2>About</h2>
  <hr />
  <div>
    I'm Andrew, a Calgary-based designer and developer working on enterprise
    software projects.
  </div>
</section>

<section class="home__skills">
  <section>
    <h2>Skills</h2>
    <hr />
    <ul>
      <li>Design Principles</li>
      <li>Critical Thinking</li>
      <li>Rapid Prototyping</li>
      <li>Product Management</li>
      <li>Visual Design</li>
      <li>Data Lead Approach</li>
    </ul>
  </section>

  <section>
    <h2>Tool Stack</h2>
    <hr />
    <ul>
      <li>Anthropic (Claude)</li>
      <li>Git/Github</li>
      <li>Flask</li>
      <li>Figma</li>
      <li>Pen and Paper</li>
      <li>Python</li>
      <li>React</li>
      <li>Typescript</li>
    </ul>
  </section>
</section>

<section>
  <h2>Projects</h2>
  <hr />
  <ul class="home__project">
    {% for project in projects %}
    <li class="home__project__item">
      <h3>
        <a href="/projects/{{ project.fields.slug }}"
          >{{ project.fields.title }}</a
        >
      </h3>
      <div>{{ project.fields.description }}</div>
      {% if project.fields.thumbnail %}
      <img
        src="{{ project.fields.thumbnail }}"
        alt="{{ project.fields.title }} thumbnail"
      />
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</section>
{% endblock %}
