<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Andrew James Moore</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='foundations.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
</head>

<body class="{{ theme }}">

<nav class="nav">
    <div class="container theme-toggle">
    <div>
        <h1>Andrew James Moore</h1>
    </div>
        <div>
            <span><a href="mailto:hello@andrewjamesmoore.com" target="_blank">[Email]</a></span>
            <span><a href="https://github.com/andrewjamesmoore" target="_blank">[Github]</a></span>
            <span><a href="https://www.linkedin.com/in/andrew-james-moore/" target="_blank">[LinkedIn]</a></span>
            <span><a href="{{ url_for('toggle_theme') }}">
        [Toggle Colour Mode]
    </a></span>
            </div>
    </div>
</nav>

<section>
    <h2>About</h2>
    <hr>
    <div>
        I'm andrew a calgary based designer and developer working on enterprise software projects.
    </div>
</section>

<section>
    <h2>Skills</h2>
    <hr>
    <ul>
        <li>Product Design Lead</li>
        <li>Design Systems Engineering</li>
        <li>Front End Development</li>
        <li>Product Management</li>
    </ul>
</section>

<section>
    <h2>Projects</h2>
    <hr>
<!--    <div class="project-grid">-->
    <ul class="project-grid">
    {% for project in projects %}
    <li class="project-item">
        <h3><a href="/{{ project.title}}">{{ project.title }}</a></h3>
        <div>{{ project.description }}</div>
        {% if project.img %}
        <img src="{{ project.img }}" alt="{{ project.title }} image">
        {% endif %}
    </li>
    {% endfor %}
        </ul>
<!--        </div>-->
</section>

<footer class="footer">
    <div class="container">
    <div>
        <span>{{ date }}</span>
    </div>
    <div>
        <span>Made with Python</span>
    </div>
</div>
</footer>

</body>

</html>
