<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <nav class="nav">
    <h1>Andrew James Moore</h1>
    </nav>
</header>

<section class="section">
    <p>Skills</p>
    <hr>
    <ul>
        <li>Product Design Lead</li>
    <li>Design Systems Engineering</li>
    <li>Front End Development</li>
        <li>Product Management</li>
    </ul>
</section>
<section class="section">
    <p>Projects</p>
    <hr>
    <div class="project-grid">
    <ul class="project-section">
    {% for project in projects %}
    <li class="project-item">
        <a href="{{ project.link }}">{{ project.title }}</a>
        <span>{{ project.description }}</span>
        {% if project.img %}
        <img src="{{ project.img }}" alt="{{ project.title }} image">
        {% endif %}
    </li>
    {% endfor %}
        </ul>
        </div>
</section>
</body>
</html>
