body {
  background-color: var(--bg-color);
  color: var(--text-color);
  border: var(--border);
  a:link {
    color: var(--a-color);
  }
  a:visited {
    color: var(--a-visited-color);
  }
}

body.dark-mode {
  --bg-color: #161616;
  --text-color: white;
  --text-hover: white;
  --border: #555555;
  --a-color: #94FFAA;
  --a-visited-color: #94FFAA;
}

/* Dark Mode Support for Tooltip */
body.dark-mode [data-tooltip]::after {
  --tooltip-bg: white;
  --tooltip-text: #202020;
}
